
* {
	padding: 0px;
	margin: 0Px;
	border: 0px;
}

body{
	width: 100%;
	height: auto;	
	margin: auto;
}

header{
	width: auto;
	height: 150px;
	background: #1976D2;	
}

nav{
	width: auto;
	height: 50px;
	background: #2196F3;
	position: sticky;
	top: 0;
	z-index: 1000;
}

main{
	width: 100%;
	display:flex;
	align-items: stretch;
	background: #D6EAF8;
}

section{
	width: 80%;
	background: #D6EAF8;
}

aside{
	width: 20%;
	background:#BBDEFB;
	position: sticky;
	top: 50px;
	z-index: 999;	
}

footer{
	height: 50px;
	background:#1976D2;		
}






h2 {
	font-family:"Times New Roman";
	font-size:20px;
	font-weight: bold;
	text-align:center;
	padding:30px;
	color: #0D47A1;
}



.contenido {
	font-family:"Times New Roman";
	font-size:18px;
	text-align:left;
	padding:10px;
	color: #17365D;	
}


#listahab {
	padding-left:40px;
	list-style: circle;
}


#img-estudiando {
	width:200px;
	padding: 20px;		
}


#lista-link {
	padding-left:5px;
	list-style: none;
}

#lista-link li{
	padding-top:20;	
}




#menu{
	list-style:none;
	
}

#menu li {
	display:inline-block;
	float:left;  	
}

#menu li a{
	text-decoration:none;			
	padding:18px; 
	font-family: Arial, Helvetica, sans-serif;
	display:block;
}

#menu li a:hover{	
	background-color:#03A9F4;	
	color: white;	
	font-weight: bold;			
}


#lista-link img {
    display: block;
    margin: auto;
    cursor: pointer;
}


